.rc-slider-mark {
    top: 24px; 
}

.rc-slider-mark-text {
    transform: rotate(-45deg);
    white-space: nowrap;
}
.year-labels-container {
    display: flex;
    margin-left: -130px;
    margin-top: -20px;
    transform: rotate(180deg);
}
.year-label{
    display: inline-block;
    transform: rotate(180deg);
    width: auto;
    margin-left: -1px;
    font-size: 13px;
    margin-right: 3.5px;
    margin-top: -20px;
}
.rc-slider{
    width: 150%;
    margin-left: -150px;
}